VITE_SUPABASE_URL=https://eqbfgzuxxercprcffqsd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVxYmZnenV4eGVyY3ByY2ZmcXNkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgxMTk2MjIsImV4cCI6MjA5MzY5NTYyMn0.fLb-he1K6fS2jkt05acAWG9lu2nR2PImuxSQOeIWW8A
